$theme := {
   primary: '#2c3e50',
   secondary: '#1abc9c',
   accent: '#2980b9',
   error: '#e74c3c',
   action: '#23DB2A'
        }
// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'


primary = #455A64
secondary = #90A4AE
accent = #FF5722
error = #f44336
action = #23DB2A
warning = #ffeb3b
info = #2196f3
success = #4caf50

.primary
  background-color primary !important;
  border-color: primary !important;

.secondary
  background-color secondary !important;
  border-color: secondary !important;

.accent
  background-color accent !important;
  border-color: accent !important;

.error
  background-color error !important;
  border-color: error !important;

.action
  background-color action !important;
  border-color: action !important;

.warning
  background-color warning !important;
  border-color: warning !important;

.info
  background-color info !important;
  border-color: info !important;

.success
  background-color success !important;
  border-color: success !important;

.primary--text
  color: primary !important;
  caret-color: primary !important;

.secondary--text
  color: secondary !important;
  caret-color: secondary !important;

.accent--text
  color: accent !important;
  caret-color: accent !important;

.error--text
  color: error !important;
  caret-color: error !important;

.action--text
  color: action !important;
  caret-color: action !important;

.warning--text
  color: warning !important;
  caret-color: warning !important;

.info--text
  color: info !important;
  caret-color: info !important;

.success--text
  color: success !important;
  caret-color: success !important;
